.info-wrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  max-width: 60%;
  margin: 0 auto;
  text-transform: uppercase;
}

.label {
  font-weight: 700;
}

.types {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 0 auto;

  @media screen and (min-width: 670px) {
    margin: initial;
  }

  &__item {
    display: inline-block;
    padding: 4px;
    border: 2px solid rgb(46, 46, 46);
    background-color: #fff;
    margin: 3px;
    min-width: 100px;
    text-align: center;
    font-weight: 700;
  }
}
